h1 {
  color: red;
}
p#index-title {
  text-align: center;
  font-size: 15 px;
  color: blue;
}

.posts {
  border: solid;
  margin: 5px;
  padding: 5px;
  height: 200px;
}

section {
  background: #5998ff;
  border-style: solid;
  border-width: 5px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}
.social-btn {
  top: 200;
  left: 200;
  text-alight: center;
  color: #d1b1f5;
  font-size: 15px;
  background: #d93491;
  width: 50px;
  height: 20px;
}